LLDAP_JWT_SECRET=cambia_esto_por_un_secreto_seguro
LLDAP_LDAP_USER_PASS=cambia_esto_por_tu_contrasena
LLDAP_LDAP_BASE_DN=dc=makerspace,dc=local
LDAP_BIND_PASSWORD=cambia_esto_por_tu_contrasena
API_SECRET=cambia_esto_por_tu_clave_secreta
SESSION_SECRET=cambia_esto_por_tu_secreto_de_sesion
ADMIN_USER=admin
ADMIN_PASS=cambia_esto_por_tu_contrasena